.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



body {
    background: url('starsblend.png');
    /* background-blend-mode: darken; */
    height: 98vh;
    transition: all 5s;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
   
    

}

.starfield {
    border-radius: 50%;
    border: 2px solid rgba(1, 208, 255, 0.36);
    background: radial-gradient(#40a9f5, #00ffb3, #00ffaaab, #03ffc463);
    box-shadow:
        inset 2px 2px 5px rgba(0, 255, 89, 0.866),
        inset 5px -5px 5px 5px rgba(101, 220, 90, 0.278),
        inset -2px 2px 5px rgba(10, 119, 66, 0.211),
        inset -2px -2px 5px rgba(255, 255, 0, 0.407),
        -2px -2px 5px rgba(255, 255, 0, 0.407),
        -2px 2px 5px rgba(10, 119, 66, 0.211),
        5px -5px 5px 5px rgba(101, 220, 90, 0.278),
        2px 2px 50px rgba(0, 254, 89, 0.866),
        -2px -2px 50px rgba(34, 232, 103, 0.866),
        -2px -2px 100px rgb(79, 224, 130),
        2px 2px 5000px rgba(149, 238, 180, 0.821);
    transition: all 5s;
    animation: rotation infinite .5s;
}

h1 {
    top: 200px;
    color: greenyellow;
    text-align: center;
    mix-blend-mode: saturation;
    text-shadow: 3px 3px 3px rgb(90, 115, 54);
}

.maindiv {
    width: 220px;
    height: 220px;
    animation: rotation 2s infinite linear;

}


.moon {
    width: 220px;
    height: 220px;
    position: absolute;
    z-index: 1;
    background-color: rgb(37, 37, 37);
    border-radius: 49%;
    box-shadow: inset 2px -2px 10px rgb(138, 137, 137);
    cursor: none;

    filter: brightness(0%) blur(15PX);
    background: url('OIP.jpg');
    transition: all 5s;
}

@keyframes rotation{
    to{
        transform: rotate(360deg);
    }
}